services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: ember
      POSTGRES_PASSWORD: ember
      POSTGRES_DB: ember
    ports:
      - "5432:5432"
    volumes:
      - ember_pg:/var/lib/postgresql/data

  amber-api:
    build:
      context: .
      dockerfile: services/api/Dockerfile
    depends_on:
      - postgres
    ports:
      - "3002:3002"
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://ember:ember@postgres:5432/ember
    healthcheck:
      test: ["CMD", "sh", "-c", "curl -fsS http://localhost:3002/health || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 10

  amber-ingest:
    build:
      context: .
      dockerfile: services/ingest/Dockerfile
    depends_on:
      - postgres
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://ember:ember@postgres:5432/ember
    healthcheck:
      test: ["CMD", "sh", "-c", "curl -fsS http://localhost:3001/health || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 10

  amber-worker:
    build:
      context: .
      dockerfile: services/worker/Dockerfile
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://ember:ember@postgres:5432/ember

  amber-web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "3000:80"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  clickhouse:
    image: clickhouse/clickhouse-server:24.8
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ember_ch:/var/lib/clickhouse

volumes:
  ember_pg:
  ember_ch:
